.card__item {

}

.card__link {

}

.card__img {
  width: 100%;
  aspect-ratio: 1.784;
  vertical-align: top;
}

.card__wrapper {
  
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 0 13px;
  border-bottom: 1px solid #424242;
}

.card__title {
  margin: 0;
  padding: 0;
  max-width: 226px;
  height: 32px;

  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card__button-like {
  width: 24px;
  height: 24px;
  background-image: url(../../images/like_white.svg);
  background-color: #202020;
  border: 0;
}

.card__duration {
  padding: 6px 0 18px;
  margin: 0;

  color: #8B8B8B;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 900px) {
  .card__duration {
    padding: 6px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .card__content {
    padding: 15px 0 29px;
  }
  .card__title {
    font-size: 12px;
  }
  .card__duration {
    font-size: 10px;

    padding: 6px 0 4px;
  }
}