.err-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  box-sizing: border-box;
  /* padding: 80px; */
  /* padding: calc(50vh - 280px) 0; */
}

.err-not-found__block {
  position: absolute;
}

.err-not-found__title {
  text-align: center;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: 0;
  padding: 0;
}

.err-not-found__description {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: 0;
  padding: 5px 0 0;
}

.err-not-found__button {
  display: flex;
  flex-direction: column;
  justify-content: end;

  height: 100%;
  background-color: inherit;
  border: 0;

  color: #4285F4;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding: 0 0 60px;
}

@media screen and (max-width: 900px) {
  .err-not-found {
    /* padding: 222px; */
    /* padding: calc(50vh - 280px) 0; */
  }
  .err-not-found__button {
    padding: 222px;
  }
}
@media screen and (max-height: 800px) {
  .err-not-found__button {
    padding: 0 0 60px;
  }
}

@media screen and (max-width: 500px) {
  .err-not-found__title {
    font-size: 80px;
  }
  
  .err-not-found__description {
    font-size: 12px;
    padding: 10px 0 0;
  }
  .err-not-found__button {
    padding: 0 0 30px;
  }
}