.auth-form {
  width: 396px;
  height: 100vh;
  margin: 0 auto;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.auth-form__logo {
  padding-bottom: 40px;

  transition: .3s ease-in;
}
.auth-form__logo:hover {
  opacity: 0.8;
}
.auth-form__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-bottom: 40px;
}

.form {
  height: 100%;
  max-height: 380px;
  display: flex;
  flex-direction: column;
}

.form__button {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding: 13px 0 15px;
  margin: auto 0 0;
  /* margin-top: clamp(70px, 100%, 221px);; */
  background-color: #4285F4;
  border-radius: 3px;
  border: 0;

  transition: .3s ease-in;
}

.form__button:hover {
  opacity: 0.8;
  cursor: pointer;
 }

.form__button_disabled {
  background: #F8F8F8;
  color: #C2C2C2;
}

.auth-form__question {
  margin: 16px 0 0;
  color: #8B8B8B;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth-form__link {
  text-decoration: none;
  color: #4285F4;

  padding-left: 6px;

  transition: .3s ease-in;
}

.auth-form__link:hover {
  opacity: 0.7;
}

.auth-form__label {
  display: flex;
  flex-direction: column;

  color: #8B8B8B;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth-form__input {
  background-color: #202020;
  border: 0;
  padding: 5px 0 10px;
  margin-bottom: 24px;
  border-bottom: 1px solid #424242;

  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  transition: .3s ease-in;
}

.auth-form__input:hover {
  background-color: #3a3a3a;
}

@media screen and (max-width: 900px) {
  .auth-form {
    padding: 232px 0;
  }
}

@media screen and (max-width: 500px) {
  .auth-form {
    width: 260px;
    padding: 56px 0 30px;
  }
  .form__button {
    font-size: 14px;
    padding: 15px 0;
    /* margin: auto 30px 0; */
  }
  .auth-form__container {
    margin: 0 auto;
  }
  
  .auth-form__logo-link{
    display: flex;
    justify-content: center;
  }
  .auth-form__logo {
    padding-bottom: 50px;
  }
  .auth-form__title {
    padding-bottom: 80px;
  }
}