/* .auth-form__label {
  display: flex;
  flex-direction: column;

  color: #8B8B8B;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth-form__input {
  background-color: #202020;
  border: 0;
  padding: 5px 0 10px;
  margin-bottom: 24px;
  border-bottom: 1px solid #424242;

  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} */
