@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: white;
  background-color: #202020;
  text-rendering: optimizeLegibility;
}

.root {

}
